@model WeChatMPEditVM
<style asp-src="~/OrchardCore.AdminMenu/Styles/admin-menu.min.css" debug-src="~/OrchardCore.AdminMenu/Styles/admin-menu.css" at="Head" depends-on="admin"></style>

<h1>@RenderTitleSegments(T["Edit WeChatMP : {0}", Model.Name])</h1>

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Edit" method="post">
    <fieldset>
        <div class="form-group" asp-validation-class-for="Name">
            <label asp-for="Name">@T["Name"]</label>
            <input asp-for="Name" class="form-control" autofocus />
            <span asp-validation-for="Name" class="text-danger">@T["The name is required"]</span>
        </div>
        <div class="form-group" asp-validation-class-for="AppId">
            <label asp-for="AppId">@T["AppId"]</label>
            <input asp-for="AppId" class="form-control" autofocus />
            <span asp-validation-for="AppId" class="text-danger">@T["The AppId is required"]</span>
        </div>
        <div class="form-group" asp-validation-class-for="Secret">
            <label asp-for="Secret">@T["AppSecret"]</label>
            <input asp-for="Secret" class="form-control" autofocus />
            <span asp-validation-for="Secret" class="text-danger">@T["The AppSecret is required"]</span>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
            <a class="btn btn-primary" asp-route-controller="Node" asp-route-action="List" asp-route-id="@Model.Id">@T["Edit Admin Nodes"] </a>
            <a class="btn btn-secondary" asp-route-action="List">@T["Cancel"]</a>
        </div>
    </fieldset>
</form>